<!-- Page content -->
  <div id="page-content-wrapper">
    <div class="content-header">
      <h1>
        All ideas
      </h1>
    </div>
    <% @current_user_ideas.each do |current_user_idea| %>
    <li><%= link_to current_user_idea.name, current_user_idea %></li>
    <% end %>
  </div>
  