<!-- Page content -->
  <div id="page-content-wrapper">
    <div class="content-header">
      <h1>
        All ideas
      </h1>
    </div>
    <% @ideas.each do |idea| %>
      <li><%= link_to idea.name, idea %></li>
    <% end %>
  </div>
  