#page-content-wrapper
  .content-header
    .idea-heading = @idea.name
  div class="page-content inset"
    .row
      .col-md-12
        .idea-description = @description.content 
    .row
      .col-md-6
        .category-box(data-category-name="problem")
          .category-heading.problem PROBLEM
          .category-existing-content = @problem.content if @problem
      .col-md-6
        .category-box(data-category-name="solution")
          .category-heading.solution SOLUTION
          .category-existing-content = @solution.content if @solution
    .row
      .col-md-4
        .category-box(data-category-name="market")
          .category-heading.market MARKET
          .category-existing-content = @market.content if @market
      .col-md-4
        .category-box(data-category-name="competition")
          .category-heading.competition COMPETITION
          .category-existing-content = @competition.content if @competition
      .col-md-4
        .category-box(data-category-name="demand")
          .category-heading.demand DEMAND
          .category-existing-content = @demand.content if @demand

    #modal-container
    #modal
      #popup-header
        a href="#" class="close" X
      .popup-content
        == render 'category_form'

javascript:
  $(function() {

    var $modal = $('#modal'),
        $modal_close = $modal.find('.close'),
        $modal_container = $('#modal-container');

    $('.category-box').click(function() {
      $modal
       .prepend($modal_close)
       .css('top', $(window).scrollTop() + 40)
       .show();
      $modal_container.show();

      $('#category-selected').attr('value', $(this).attr('data-category-name'));
      $('textarea').text($(this).children().eq(1).html());
      $('#popup-header').html($(this).attr('data-category-name'));
      $('#popup-header').addClass($(this).attr('data-category-name'));

      $('textarea').focus();
      tmpStr = $('textarea').val();
      $('textarea').val('');
      $('textarea').val(tmpStr);
    });

     $('.close', '#modal').on('click', function(){
        $('.popup-header').removeClass();
        $('textarea').text();
        $('#category-selected').attr('value');
        $('#category-content').attr('value');
        $modal_container.hide();
        $modal.hide();
        return false;
     });

    $('#category-box-submit').click(function() {
      $('.popup-header').removeClass();
      $('textarea').text();
      $('#category-selected').attr('value');
      $('#category-content').attr('value');
    });

    $.fn.selectRange = function(start, end) {
      if(!end) end = start; 
      return this.each(function() {
        if (this.setSelectionRange) {
            this.focus();
            this.setSelectionRange(start, end);
        } else if (this.createTextRange) {
            var range = this.createTextRange();
            range.collapse(true);
            range.moveEnd('character', end);
            range.moveStart('character', start);
            range.select();
        }
      });
    };

  });
