/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-responsive
 *= require_tree .
 */

* {
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: auto;

}
#mywrapper {
  min-height: 100%;
  height: auto;
/*  background-color: rgb(234,250,240);
*/  background-image: url('graph_paper.jpg'); 
  background-size: cover;
  margin: 0 auto -6.2em;
}
#footer {
  height: 6.2em;
}
#left {
/*   border: 1px solid black;
*/  color: rgb(36,36,36);
  margin-top: 179px;
  float: left;
}
#middle{
  margin-top: 179px;
/*  border: 1px solid black;
*/
}
#messagebox {
  width: 420px;
  margin: 0 auto;
}
.emailinput {
  display: inline-block;
  width: 300px;
  line-height: 1.428571429;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px 15px;
}
.emailinput, #footer {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.emailinput:-moz-placeholder {
  color: #999999;
}

.emailinput::-moz-placeholder {
  color: #999999;
}

.emailinput:-ms-input-placeholder {
  color: #999999;
}

.emailinput::-webkit-input-placeholder {
  color: #999999;
}
#submitwrapper {
  float: right;
  position: relative;
}
#message {
  float: left;
  position: relative;
}
.mybutton {
  color: white;
  background: rgb(36,36,36);
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  border: 2px solid rgb(36,36,36);
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.mybutton:hover,
.mybutton:focus {
  background: none;
  border: 2px solid rgb(36,36,36);
  color: rgb(36,36,36);
  font-weight: 500;
}
.mybutton:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.iphoneimg {
  width: 315px;
  margin: 0 auto;
  padding-right: 2px;
}
.biglaptopimg {
  height: 315px;
}
#right {
/*  border: 1px solid black;
*/  margin-top: -431px;
  float: right;
}
#footer {
  clear: both;
  bottom: 0;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  font-size: 0.8em;
  bottom: 0;
  background-color: rgb(36,36,36);
}
#footer #computer .laptopimg {
  height: 6.2em;
  bottom: 0px;
  left: 0px;
  margin: 0;
  display: block;
  position: absolute;
}
#tryitlink, #learnmorelink {
  text-decoration: none;
  color: rgb(36,36,36);
  font-size: 1.1em;
  font-weight: 500;
}
.bigbutton1, .bigbutton2 {
  padding: 18px 23px;
  background: none;
  border: 2px solid rgb(36,36,36);
}

.bigbutton2 {
  margin-left: 22px;
}
.bigbutton1:hover, 
.bigbutton2:hover {
  background: rgba(0,0,0,0.25);
}

.name, .slogan, span {
  font-family: 'Poiret One', cursive;
  text-align: center;
}
.name {
  font-size: 9em;
}
.slogan {
  font-size: 1.98em;
  margin-top: -20px;
  margin-bottom: 40px;
  margin-left: -41px;
}
span {
  font-size: 0.16em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -3.8em;
}
#madeby {
  color: rgb(159, 159, 159);
  padding: 1.8em;
  font-size: 1.2em;
  text-align: center;
}
#signout-signin{
  padding: 1.8em;
  font-size: 1.2em;  
  bottom: 0px;
  right: 0px;
  position: fixed;
}
#signout, #username {
  text-decoration: none;
  color: rgb(159, 159, 159);
}
#username {
  padding-right: 20px;
  color: white;
}
#signin {
  text-decoration: none;
  margin-left: 30px;
  margin-right: -12px;
  color: white;
  background: rgb(36,36,36);
  padding: 10px 15px;
  border: 1px solid white;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  font-weight: 500;

}
#signin:hover,
#signin:focus {
  background: white;
  border: 1px solid white;
  color: rgb(36,36,36);
  font-weight: 500;
}
#githublink {
  color: rgb(159, 159, 159);
  text-decoration: none;
  border-bottom: 1px rgb(207, 202, 207) dotted;
}
#githublink:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px rgb(207, 202, 207) dotted;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  border: 1px solid yellow;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  border: 1px solid red;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  border: 1px solid blue;
}
#mySwipe div b {
  display: inline-block;
  border: 1px solid green;

}
#centeredslogan {
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 40px;
}
#homebackground {
  background-image: url('graph_paper.jpg'); 
  background-size: cover;
  background: rgb (234,57,32);
  height: 100%
}
#bigbuttonbox {
  text-align: center;
}

/* ADDING A LEFT SIDEBAR */
.category-box, .idea-description {
  min-height: 60px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 -10px 12px 0;
  background-color: white;
}
.category-box {
  padding: 19px;
}
.category-heading {
  margin: -10px;
  text-align: center;
}
.problem {
  background-color: rgba(147,12,163,0.55);
}
.solution {
  background-color: rgba(59,0,234,0.55);
}
.market {
  background-color: rgba(234,2,0,0.55);
}
.competition {
  background-color: rgba(232,92,12,0.55);
}
.demand {
  background-color: rgba(234,177,13,0.55);
}
#edit-popup-box {
  border: none;
  position: absolute;
  width: 567px;
  height: 500px;
  background: white;
  bottom: 90px;
  right: 110%;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#edit-popup-box.focused {
  right: 601px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popup-header {
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: rgb(36,36,36);
  color: white;
  padding: 8px;
  font-family: 'Poiret One';
  font-size: 22px
}
.popup-title {
  float: left;
}
.popup-x {
  float: right;
  font-family: sans-serif;
  font-size: 18px;
  vertical-align: center;
  margin-right: 5px;
  color: gray;
}
.idea-heading {
  font-size: 32px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  margin-top: -14px;
}
.idea-description {
  margin-bottom: 21px;
  margin-top: -1px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
}
.category-heading {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  padding: 3px;
}
.category-existing-content {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
}
textarea#category-content {
  border: none;
  margin: 12px;
  padding: 5px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 540px;
  min-height: 450px;
}
.sidebar-nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.sidebar-idea-list {
  text-transform: uppercase;
  font-size: 18px;
}
.selected {
  background: rgb(221,221,221);
  -webkit-box-shadow: inset 2px 3px 8px 2px rgb(214,214,214);
   box-shadow: inset 2px 3px 8px 2px rgb(214,214,214);
  font-weight: 400;
}
.edit-category-content {
  height: 300px;
}