/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-responsive
 *= require_tree .
 */

* {
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%; 
  overflow: auto;
}
html {
  background: rgb(221,221,221);
}
#mywrapper {
  min-height: 100%;
  height: auto;
/*  background-color: rgb(234,250,240);
*/  background-image: url('graph_paper_only.jpg'); 
  background-size: cover;
  margin: 0 auto -6.2em;
}
#footer {
  height: 6.2em;
}
#left {
/*   border: 1px solid black;
*/  color: rgb(36,36,36);
  margin-top: 179px;
  float: left;
}
#middle{
  margin-top: 230px;
/*  border: 1px solid black;
*/
}
#messagebox {
  width: 420px;
  margin: 0 auto;
}
.emailinput {
  display: inline-block;
  width: 300px;
  line-height: 1.428571429;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px 15px;
}
.emailinput:-moz-placeholder {
  color: #999999;
}

.emailinput::-moz-placeholder {
  color: #999999;
}

.emailinput:-ms-input-placeholder {
  color: #999999;
}

.emailinput::-webkit-input-placeholder {
  color: #999999;
}
#submitwrapper {
  float: right;
  position: relative;
}
#message {
  float: left;
  position: relative;
}
.mybutton {
  color: white;
  background: rgb(36,36,36);
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  border: 2px solid rgb(36,36,36);
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.mybutton:hover,
.mybutton:focus {
  background: none;
  border: 2px solid rgb(36,36,36);
  color: rgb(36,36,36);
  font-weight: 500;
}
.mybutton:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.iphoneimg {
  width: 315px;
  margin: 0 auto;
  padding-right: 2px;
}
.biglaptopimg {
  height: 315px;
}
#right {
/*  border: 1px solid black;
*/  margin-top: -431px;
  float: right;
}
#footer {
  clear: both;
  bottom: 0;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  font-size: 0.8em;
  bottom: 0;
  background-color: rgb(36,36,36);
}
#footer #computer .laptopimg {
  height: 6.2em;
  bottom: 0px;
  left: 0px;
  margin: 0;
  display: block;
  position: absolute;
}
#tryitlink, #learnmorelink {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

#learnmorelink {
  color: rgb(36,36,36);
}
#tryitlink {
}
.bigbutton1, .bigbutton2 {
  padding: 18px 23px;
  background: none;
  margin-top: -10px;
}
.bigbutton2 {
  border: 2px solid rgb(36,36,36);
  color: rgb(36,36,36);
}
.small-form-button#signin-submit, 
.medium-form-button#signin-submit {
  border: 2px solid rgb(136,136,136);
  background-color: rgb(136,136,136);
  color: white;
}
.small-form-button#signin-submit:hover,
.medium-form-button#signin-submit {
  border: 2px solid rgb(136,136,136);
  background-color: white;
  color: rgb(136,136,136);
}
.bigbutton1, #guest-signin-submit {
border: 2px solid rgb(255,193,18);
background-color: rgb(255,193,18);
color: rgb(36,36,36);
}
.bigbutton2 {
  margin-left: 22px;
}
.bigbutton2:hover,
#signin-submit:hover {
  background: rgba(0,0,0,0.15);
}

.bigbutton1:hover,
#guest-signin-submit:hover {
  background: none;
  border: 2px solid rgb(255,193,18);
  color: rgb(36,36,36);
}

.name, .slogan, span {
  font-family: 'Poiret One', cursive;
  text-align: center;
}
.name {
  font-size: 170px;
  line-height: 1em;
}
.slogan {
  font-size: 37px;
}
span {
  font-size: 0.16em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -3.8em;
}
#madeby {
  color: rgb(159, 159, 159);
  padding: 1.8em;
  font-size: 1.2em;
  text-align: center;
}
#signout-signin{
  padding: 1.8em;
  font-size: 1.2em;  
  bottom: 0px;
  right: 0px;
  position: fixed;
}
#signout, #username {
  text-decoration: none;
  color: rgb(159, 159, 159);
}
#username {
  padding-right: 20px;
  color: white;
}
#signin {
  text-decoration: none;
  margin-left: 30px;
  margin-right: -12px;
  color: white;
  background: rgb(36,36,36);
  padding: 10px 15px;
  border: 1px solid white;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  font-weight: 500;

}
#signin:hover,
#signin:focus {
  background: white;
  border: 1px solid white;
  color: rgb(36,36,36);
  font-weight: 500;
}
#githublink {
  color: rgb(159, 159, 159);
  text-decoration: none;
  border-bottom: 1px rgb(207, 202, 207) dotted;
}
#githublink:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px rgb(207, 202, 207) dotted;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  border: 1px solid yellow;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  border: 1px solid red;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  border: 1px solid blue;
}
#mySwipe div b {
  display: inline-block;
  border: 1px solid green;

}
#centeredslogan {
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 40px;
}
#homebackground {
  background-image: url('graph_paper_only.jpg'); 
  background-size: cover;
  background: rgb (234,57,32);
  height: 100%
}
#bigbuttonbox {
  text-align: center;
}
.category-box, .notes-box {
  min-height: 60px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 -10px 12px 0;
  background-color: white;
  padding: 19px;
}
.problem {
  background-color: rgba(147,12,163,0.55);
}
.solution {
  background-color: rgba(59,0,234,0.55);
}
.market {
  background-color: rgba(234,2,0,0.55);
}
.competition {
  background-color: rgba(232,92,12,0.55);
}
.demand {
  background-color: rgba(234,177,13,0.55);
}
.idea-heading {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;
  margin-top: -10px;
  margin-bottom: -2px;
}
.add-idea-box {
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  top: 20px;
  right: 25px;
  position: absolute;
  background-color: white;
  width: 142px;
  height: 42px;
  padding-left: 45px;
  border-radius: 20px;
  color: rgb(96,96,96);
}
.add-idea-box:hover {
  background-color: rgba(255,193,18, 0.8);
/*  color: rgb(36,36,36);
*/}
#black-plus-icon {
  background-image: url('black-plus-icon.png');
}
#plus-icon {
  background-size: cover; 
  width: 22px;
  height: 22px;
  top: 10px;
  left: -31px;
  background-image: url('plus-icon.png');
  position: relative;
 }
 #add-idea-text {
  top: -33px;
  right: 1px;
  position: relative;
 }
.category-heading, #popup-header {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  padding: 3px;
  margin: -10px;
  text-align: center;
}
#description-heading {
  padding-left: 10px;
  text-align: left;
  margin-bottom: -20px;
}
#description-content {
  margin-top: -6px
}
.category-existing-content {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
}
textarea#category-content {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  padding: 15px;
  position: relative;
  top: 20px;
  left: -8px;
  width: 577px;
  min-height: 456px;
  border: 1px solid rgba(36,36,36,0.3);
  border-radius: 4px;
}
.sidebar-nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.selected {
  background: rgb(221,221,221);
  -webkit-box-shadow: inset 2px 3px 8px 2px rgb(214,214,214);
   box-shadow: inset 2px 3px 8px 2px rgb(214,214,214);
  font-weight: 400;
}
.save-category-button{
  position: absolute;
  width: 100px;
  bottom: 14px;
  right: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  height: 40px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  background: rgba(56,56,56,0.2);
  border: none;
  color: rgb(136,136,136);

  }
  .save-category-button:hover,
  .save-category-button:focus,   
  .save-category-button:active  {
    color: rgb(96,96,96);
    border: none;
    background: rgba(56,56,56,0.4);
    font-weight: 500;
  }
  .ideas-index-box {
    width: 500px;
    height: 100px;
    display: inline-block;
    margin: 20px;
    margin-top: 20px;
    background: none;
    position: relative;
    padding-top: 34px;
    padding-left: 25px;
/*    border: 2px dotted rgb(36,36,36);
*/    background: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
  }
  .ideas-index-link {
    color: rgb(36,36,36);
  }
  .ideas-index-link:hover, 
  .ideas-index-link:focus, 
  .ideas-index-link:active,  {
    color: white;
  }
  .ideas-index-section {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
  }
  .ideas-index-problem {
    left: 0;
    background-color: rgba(147,12,163,0.55);
  }
  .ideas-index-solution {
    left: 100px;
    background-color: rgba(59,0,234,0.55);
  }
  .ideas-index-market {
    left: 200px;
    background-color: rgba(234,2,0,0.55);
  }
  .ideas-index-competition {
    left: 300px;
  }
  .ideas-index-demand {
    left: 400px;
  }
  .user-icon {
    background-image: url('user.png');
    background-size: cover; 
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
    position: relative;
  }
  li.sidebar-username-section {
    position: relative;
    height: 60px;
    background: rgb(192,192,192);
    width: 100%;
  }
  .username {
    position: relative;
    font-size: 20px;
    left: 20px;
    bottom: 5px;
  }
  li.sidebar-idea-list {
    list-style: none;
    text-transform: uppercase;
    font-size: 17px;
    }
  .idea-list, .sidebar-add-idea {
    font-size: 18px;
    font-weight: 400;
  }
  .all-ideas-link {
    text-decoration: none;
    color: rgb(36,36,36);
  }
  .site-index-header-links {
    position: absolute;
/*    border: 1px solid black;
*/    top: 30px;
    right: 55px;
  }
  #site-index-username-statement, #signoutlink, #signinlink, #site-index-divider {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: 25px;
  }
  #signoutlink, #signinlink {
    text-transform: uppercase;
    color: rgb(36,36,36);
    text-decoration: none;
  }
  .site-index-username {
    text-decoration: underline;
    color: rgb(36,36,36);
  }
  #signoutlink:hover,
  #signinlink:hover {
    color: rgba(0,0,0,0.4);
  }
  .site-index-username:hover {
    color: gray;
  }
  .sidebar-bottom {
  }
  .sidebar-signout-link, .sidebar-register-link {
    font-size: 15px;
    font-weight: 400;
    margin-top: -10px;
    display: inline-block;
  }
  .sidebar-signout-link {
    text-align: right;
    margin-right: 30px;
  }
  .sidebar-register-link {
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
  }
  #destroy-button {
    background-image: url('delete-icon.png');
    background-size: cover;
    width: 36px;
    height: 36px;
    border: none;
    background-color: rgb(221,221,221);
    color: none;
    right: 40px;
  }
/*  .share-icon {
     background-size: cover; 
     width: 25px;
     height: 25px;
     top: 25px;
     background-image: url('share-icon.png');
     right: 40px;
   }*/
 /* .share-icon,*/
  #destroy-button {
    display: inline-block;
    top: 20px;
    position: absolute;
   }
  .small-form-box {
    height: 500px;
    margin-top: 130px;
    max-width: 500px;
  }

  .small-form-box, .medium-form-box {
    text-align: center;
    border: 2px rgb(216,216,216) solid;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    margin: 20px auto;
    overflow: hidden;
    display: block;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin-top: 130px;
    padding: 30px 55px;

  }
  .medium-form-box {
    width: 780px;
  }
  .medium-form-field {
    border: 1px rgb(166,166,166) solid;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    padding: 15px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .small-form-field {
    border: 1px rgb(166,166,166) solid;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
  }
  .small-form-button, .medium-form-button {
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    display: inline-block;
    margin: 10px auto;
    text-transform: uppercase;
    padding: 14px;
    font-size: 18px;
  }
  .small-form-button {
    width: 100%;
  }
  .medium-form-button {
    width: 300px;
    margin-right: 20px;
  }
  #signin-submit {
    background-color: white;
    margin: 10px auto;
  }
  #guest-signin-submit {
    text-decoration: none;
    max-width: 400px;
    margin-top: 40px;
  }
  .form-field-header {
    font-size: 26px;
    text-transform: uppercase;
    padding: 10px;
    color: rgb(86,86,86);
  }
  #password-dashboard {
    margin-top: 20px;
    margin-bottom: -10px;
  }
  #password-strength-box {
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    width: 280px;
  }
  #password-strength-question{
    text-align: left;
    font-weight: 600;
  }
  #password-strength {
    margin-top: -20px;
  }
  .password-strength-div {
    margin-left: 200px;
  }
  #show-password-button {
    margin-left: 145px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: rgb(186,186,186);
    color: white;
    width: 165px;
    border: none;
  }
  .add-idea-link {
    position: relative;
  }
  .idea-name-field, .small-form-button {
    font-family: 'Raleway', sans-serif;
    width: 280px;
    border-radius: 0px;
    margin-left: 26px;
    border: none;
  }
  .small-form-button {
    max-width: 200px;
    margin-left: 26px
  }
  #add-idea-input, #add-idea-submit {
    position: relative;
    display: inline-block;

  }
  form {
    display: inline;
  }
