javascript:
  $(function() {
  
    $('#show-password-button').on('click', function(e) {
      switch ($(this).data('state')) {
        case 'show':
          $(this).html( $(this).html().replace('Show','Hide') );
          /* $(this).removeClass('btn-warning').addClass('btn-success'); */
          $('#user_password, #user_password_confirmation').attr('type','text');
          $(this).data('state','hide');
          break;
        default:
          $(this).html( $(this).html().replace('Hide','Show') );
          /* $(this).removeClass('btn-success').addClass('btn-warning'); */
          $('#user_password, #user_password_confirmation').attr('type','password');
          $(this).data('state','show');
      }

      e.preventDefault();
    });
  });